body {
    background-image: url("lukas-blazek-f-TWhXOrLiU-unsplash.jpg");
    background-size: cover;
    background-color: black;
    color: rgb(29, 28, 28);
}

header {
    margin: 0px;
}

h1 {
    margin: 0px;
}

.container {
    background-color: rgb(255, 224, 130, .5);
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 15px;
}

.favorites {
    padding: 12px;
}

.btn {
    text-align: center;
    text-transform: none;
    padding: none;
    border-radius: 5px;
    margin: 15px;
    background-color: #039be5;
    color: black;
    font-weight: bolder;
}

.btn-small {
    text-align: center;
    text-transform: none;
    padding: 0;
    border-radius: 5px;
    margin: 15px;
    background-color: #039be5;
    color: black;
}

.btn-flat {
    padding: 0;
    color: #039be5;
}

.card-action button {
    border-radius: 5px;
    background-color: #039be5;
    text-transform: none;
    color: black;
    font-weight: bolder;
}

.modal span {
    border-radius: 5px;
    padding: 2px;
}

.card-panel .row {
    margin-bottom: 0;
}

.input-field {
    width: 180px !important;
}

.day-of-week {
    font-weight: bolder;
}