/* main body */

body {
    background-image: url("lukas-blazek-f-TWhXOrLiU-unsplash.jpg");
    background-size: cover;
    background-color: black;
    color: rgb(29, 28, 28);
}

/* header */

header {
    margin: 0;
}

/* h1 style*/

h1 {
    margin: 0;
}

/* h5 style*/

h5 {
    display: inline-block;
    margin-bottom: 0;
}

/* h6 for modal class */

.modal h6 {
    font-weight: bolder;
}

/* container class */

.container {
    background-color: rgb(255, 224, 130, .5);
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 15px;
}

/*  favorites class */

.favorites {
    padding: 12px;
}

/* button class */

.btn {
    text-align: center;
    text-transform: none;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 5px;
    margin-left: 5px;
    margin-right: 5px;
    background-color: #039be5;
    color: black;
    font-weight: bolder;
}

/* button small class */

.btn-small {
    text-align: center;
    text-transform: none;
    padding: 0;
    border-radius: 5px;
    margin: 15px;
    background-color: #039be5;
    color: black;
}

/* button flat class */

.btn-flat {
    padding: 0;
    color: #039be5;
}

/* random button id */

#random-btn {
    margin-bottom: 5px;
    padding-left: 8px;
    padding-right: 8px;
}

/* user input id */

#user-search {
    max-width: 80%;
}

/* card action class */

.card-action button {
    border-radius: 5px;
    background-color: #039be5;
    text-transform: none;
    color: black;
    font-weight: bolder;
}

/* calendar textarea */

textarea.materialize-textarea {
    background-color: #616161;
    color: white;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 2px;
    margin: 0;
}

.links {
    background-color: #616161;
    color: white;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 2px;
    margin: 0;
    width: 100%;
    box-sizing: content-box;
}

/* card panel & row class */

.card-panel .row {
    margin-bottom: 0;
}