body {
    background-image: url("lukas-blazek-f-TWhXOrLiU-unsplash.jpg");
    background-size: cover;
    background-color: black;
    color: rgb(29, 28, 28);
}

header {
    margin: 0px;
}

h1 {
    margin: 0px;
}

h5 {
    display: inline-block;
    margin-bottom: 0px;
}

.modal h6 {
    font-weight: bolder;
}

.container {
    background-color: rgb(255, 224, 130, .5);
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 15px;
}

.planner {
    text-indent: 58px;
    font-size: 20px;
}

.favorites {
    padding: 12px;
}

.btn {
    text-align: center;
    text-transform: none;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 5px;
    margin-left: 5px;
    margin-right: 5px;
    background-color: #039be5;
    color: black;
    font-weight: bolder;
}

.btn-small {
    text-align: center;
    text-transform: none;
    padding: 0;
    border-radius: 5px;
    margin: 15px;
    background-color: #039be5;
    color: black;
}

.btn-flat {
    padding: 0;
    color: #039be5;
}

#random-btn {
    margin-bottom: 5px;
    padding-left: 8px;
    padding-right: 8px;
}

.card-action button {
    border-radius: 5px;
    background-color: #039be5;
    text-transform: none;
    color: black;
    font-weight: bolder;
}

textarea.materialize-textarea {
    background-color: #616161;
    color: white;
    border-radius: 5px;
    padding: 2px;
    margin: 0px;
}

.card-panel .row {
    margin-bottom: 0;
}